*{
    font-family: "DM Sans", sans-serif;;
    box-sizing: border-box;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.main{
    padding: 65px 8vw 70px 8vw;
    background-color: #F9F6E5;
}
.main__news-title{
    text-align: center;
    font-family: "Roboto Thin";
    font-size: 48px;
    line-height: 56px;
    padding: 0 0 25px 0;
}
.main__news-card{
    width: 270px;
    margin: 0 auto 30px auto;
    background-color: #FFFFFF;
}
.main__news-line{
    background-color: #2B4074;
    width: 100px;
    height: 8px;
    margin: 0 auto 40px auto;
}
.news__card-content p{
    font-family: "Roboto Light";
    font-weight: bold;
    font-size: 22px;
    padding: 0 0 10px 0;
    margin: 0 0 0 8px;
}

.news__card-content{
    text-decoration: none;
    color:#4A4A4A
}

@media screen and (min-width: 650px){
    .main__news-images{
        columns: 2;
    }
    .main__news-line{
        margin:0 auto 50px auto ;
    }
}
@media screen and (min-width: 1024px){
    .main__news-images{
        columns: 3;
    }
    .main__news-line{
        margin:0 auto 95px auto ;
    }
}
@media screen and (min-width: 1380px){
    .main__news-images{
        columns: 4;
    }
    .main__news-line{
        margin:0 auto 120px auto ;
    }
}
.footer__first-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer{
    background-color: black;
    padding: 91px 102px 50px;
}
.footer__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
.navigation__text-block{
    display: flex;
    flex-direction: column;
    line-height:42px;
}
.navigation__title{
    color: #F2F2F2;
    font-size: 39px;
    font-family: "Playfair Display", serif;
}
.navigation__text{
    color: #F2F2F2;
    text-decoration: none;
    font-size: 21px ;
}
.footer__communication{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
}
.contacts__link{
    text-decoration: none;
    color:#F2F2F2;
    font-size: 24px;
    font-weight: 700;
}
.communication__contacts{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.communication__accounts{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

