::-webkit-scrollbar {
    width: 0;
}
body{
    margin:0px;
}
.header_wrapper{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 45px;
}
.title{
    font-weight: 400;
    font-size:101px;
    line-height: 100px;
}
.title_wrapper{
    padding-top: 150px;
    padding-left:200px;
    padding-bottom: 150px;
}
.title_img{
    width:100%;
}
.title_section{
    width: 100%;
    height: 70%;
}
.title_img_wrapper{
    width:100%;
}
