::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
}

body{
    margin:0px;
}
.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}
.section__title {
    font-weight: 400;
    font-size: 101px;
    line-height: 100px;
    width: 80%;
}
.section__title-wrapper{
    min-height: calc(100vh - 142px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__image {
    width: 100%;
}
